<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.seekm.studemts">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoblue"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoblue"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Tutor_Profile"></activity>
        <activity android:name=".TutorsList" />
        <activity android:name=".NearbyTutors" />
        <activity android:name=".History" />
        <activity android:name=".Messages" />
        <activity android:name=".Advert" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Verifier" />
        <activity android:name=".Social" />
        <activity android:name=".OnBoarding_1" />

        <meta-data xmlns:tools="http://schemas.android.com/tools"
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/FullyTranslucent"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".MobileV" />
        <activity android:name=".MobileVerification2" />
        <activity android:name=".MobileVerification3" />
        <activity android:name=".SocialVerification" />
        <activity android:name=".NextActivity" />
        <activity android:name=".Trouble_Verification" />
        <activity android:name=".SigninPasswordActivity" />
        <activity android:name=".UserForgotPassword" />
        <activity android:name=".ProfileBuilder" />
        <activity android:name=".Drawer" />
        <activity android:name=".MapsActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity android:name=".ProfileActivity" />
    </application>

</manifest>